body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  background-image: url("../img/bg.jpg");
  background-position: content;
  background-repeat: no-repeat;
}

.inner-page {
  background-image: url("../img/filter-bg.jpg");
}

a {
  text-decoration: none;
  color: #000000;
}

.main-header {
  width: 1200px;
  margin-bottom: 76px;

  /*Временно*/
  min-height: 56px;

  outline: 2px solid red;
}

.main-navigation {
  display: flex;
  align-items: center;

  min-height: 56px;

  outline: 2px solid yellow;

  background-color: transparent;
  background-position: top;
}

.site-navigation {
  width: 956px;
  height: 56px;
  margin: 0px;
  padding: 0px;

  outline: 2px solid black;
}

.main-header-logo {
  width: 244px;
  height: 56px;

  outline: 2px solid green;
}

.wel-inr-desc {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 1200px;
  height: 724px;

  outline: 2px dashed rgb(70, 35, 196);
}

.intro {
  width: 459px;
  height: 353px;
  margin-bottom: 22px;
  margin-left: 370px;
  margin-right: 370px;

  outline: 2px dashed rgb(146, 36, 82);
}

.polygon {
  width: 1203px;
  height: 59px;
  padding: 0;
  margin: 0;

  background-image: url("../img/polygon.svg");
}

.advantages-intro-main {
  width: 1200px;
  height: 216px;
  padding: 0;
  margin: 0;

  text-align: center;

  background-color: #ffffff;
  outline: 2px dashed rgb(132, 143, 112);
}

.block-appointment {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  height: 291px;

  text-align: center;

  background-color: #ffffff;
}

.block-appointment-info {
  width: 568px;
  height: 96px;

  outline: 2px dotted #81b3d2;
}

.block-button {
  width: 568px;
  height: 86px;

  padding-top: 35px;
  padding-bottom: 33px;

  background-color: #766357;
}

.accommodation {
  display: flex;
  flex-direction: column;
  width: 1055px;
  min-height: 455px;

  outline: 3px solid #000000;
}

.hotel {
  width: 1055px;
  height: 150px;

  min-height: 150px;
  outline: 3px solid red;
}

.motel {
  min-height: 150px;
  outline: 3px solid red;
}

.apartment {
  min-height: 150px;
  outline: 3px solid red;
}

.main-footer {
  padding: 60px 0;
  margin-top: 78px;
}

.main-footer .footer-container {
  display: flex;
}

.footer-contacts {
  width: 320px;
  margin: 0;
  margin-right: 170px;
}

.footer-social {
  width: 160px;

  background-color: aquamarine;
}

.footer-copyright {
  width: 240px;
  margin: 0;
  margin-left: auto;
}

.site-navigation {
  list-style: none;
}

.site-navigation li {
  background-color: transparent;
  display: inline;
  background-position: top center;
}

.site-navigation a {
  color: #000000;
  font-weight: bold;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.advantages h1 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #000000;

  background-color: #ffffff;
}

.advantages p {
  font-size: 14px;
  text-align: center;
  line-height: 26px;
  color: #333333;
}

.advantages span {
  color: #ffffff;
}

.advantage-1,
.advantage-2,
.advantage-3,
.advantage-4,
.advantage-5 {
  width: 400px;
  height: 256px;
  background-color: #81b3d2;
}

.advantage-header {
  font-weight: 700;
  font-size: 21px;
}

.advantage-1-list ul {
  list-style: none;
}

.advantage-1-list h3 {
  font-size: 21px;
}

.advantage-1-list img {
  object-fit: contain;
}

.advantage-1-list p {
  font-size: 14px;
  color: #333333;
}

.advantages-intro {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  text-align: center;

  background-color: #ffffff;
}

.appointment-info {
  font-size: 14px;
  text-align: center;
  color: #333333;

  background-color: #ffffff;
}

.appointment-info span {
  font-size: 30px;
  font-weight: bold;
  color: #000000;
}

.button-search {
  width: 568px;
  height: 86px;
  background-color: brown;
}

.appointment-form {
  font-size: 14px;
  font-weight: 700;
}

.appointment-form input {
  font: inherit;

  border-style: hidden;
  background-color: #f2f2f2;
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #ffffff;
}

.footer-copyright {
  text-align: center;
  background-color: #669ec0;
}

.hotel h3,
.motel h3,
.apartment h3 {
  font-size: 21px;
  text-align: left;
  line-height: 26px;
  color: #000000;
}

.hotel p:not(:last-of-type),
.motel p:not(:last-of-type),
.apartment p:not(:last-of-type) {
  font-size: 14px;
  text-align: left;
  color: #333333;
}

.hotel p:last-of-type,
.motel p:last-of-type,
.apartment p:last-of-type {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #666666;
}
